:root {
	--page-fg:          #243547;
	--block-title-fg:   #2D3142;
	--title:            #40476D;
	--contact-fg:       #577590;
    --light-text:       #7798AB;
	--block-title-bg:   #BDE3ED;
    --icon-light:       #C0C0FF;
    --column-sep:       #DDDDDD;
    --lang:             #CBE5ED;
	--block-bg:         #F0F0FF;
	--page-bg:          #FFFFFF;

	--block-fg:         var(--page-fg);
	--block-title-icon: var(--light-text);
    --date:             var(--light-text);
	--link-text:        var(--light-text);
}
