@import url('https://fonts.googleapis.com/css?family=Lato:400|Raleway:300|RobotoMono');

body {
	color: #2d3142;
	background-color: white;
}

h1 {
	color: #40476D;
}

h2 {
	background-color: #a8d0db;
    color: #2d3142;
    font-size: 22px;
}

.section-icon {
    float: right;
}

span.contact {
	color: #577590;
}

hr {
	border-color: #577590;
}

code.project::before {
	content: "github.com/lyneca/";
	color: #7798AB;
}

code.heroku::before {
	content: "https://";
	color: #7798AB;
}

code.heroku::after {
    content: ".herokuapp.com";
	color: #7798AB;
}

body {
	font-family: 'Lato', sans-serif;
	/* background-color: #F7FFF6; */
	padding: 10px;
    padding-top: 0;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-bottom: 0px;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	/* color: #BFBDC1; */

}

h2 {
	padding: 10px;
	margin-top: 0;
}

h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

p {
	margin-top: 0px;
}

div.header {
	/* background-color: #40476D; */
	padding: 10px;
}

span.contact {
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
}

.contact > a {
	text-decoration: none;
	color: inherit;
}

div.content {
	padding: 10px;
	columns: auto 2;
	column-rule: 1px dotted #DDDDDD;
	column-gap: 20px;
	-webkit-column-break-inside: avoid;
	/* background-color: #F0F0FF; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* flex-stretch: 1; */
}

hr {
	display: none;
	border-style: solid;
}

ul {
	padding-left: 0;
	padding-bottom: 0px;
	margin-top: 5px;
}

ul.projects > li {
	margin-bottom: 17px;
}

li {
	list-style: none;
	/* background-color: #C0C0EF; */
	/* padding: 3px; */
	margin-bottom: 10px;
}

li.desc {
	padding-left: 25px;
}

div.lang {
    flex-grow: 1;
	display: inline-block;
    padding: 5px;
    margin: 3px;
    background-color: #b7d8e1;
    text-align: center;
}

div.range {
	display: inline-block;
	height: 20px;
	background-color: #7798AB;
}

div.five {
	width: 225px;
}

div.four {
	width: 180px;
	border-right: 45px solid #D0D0FF;
}

div.three {
	width: 135px;
	border-right: 90px solid #D0D0FF;
}

div.two {
	width: 90px;
	border-right: 135px solid #D0D0FF;
}

div.one {
	width: 45px;
	border-right: 180px solid #D0D0FF;
}

div.block {
	display: block;
	page-break-inside: avoid;
	padding: 0;
	margin-bottom: 10px;
	background-color: #e1f0ff;
}
div.inner {
	padding: 10px;
}

div.skills {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

i.light {
	margin-left: 5px;
	color: #C0C0FF;
	float: right;
}

span.date {
	float: right;
	color: #7798AB;
	font-size: 15px;
	font-variant: small-caps;
}

span.avg {
	margin-left: 10px;
	font-variant: small-caps;
}

a {
	text-decoration: none;
	color: inherit;
}
