 @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* @font-face { */
    /* font-family: 'Raleway'; */
    /* src: url('raleway/Raleway-Regular.ttf'); */
    /* font-weight: 200; */
/* } */

div.root {
    font-size: 13px;
    border: 1px solid rgba(0, 50, 100, 0.2);
    max-width: 700px;
    height: 877px;
    margin: auto;
}

div.header {
    color: rgba(0, 50, 100, 0.9);
    border-bottom: 1px solid rgba(0, 50, 100, 0.2);
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

div.bottom-section {
    padding: 12px;
}

div.container {
    height: 100%;
    box-sizing: border-box;
    /* align-content: center;
    display: flex;
    flex-flow: column wrap; */
}

div.header > div.name {
    font-family: 'Raleway';
    font-size: 40px;
}

div.project-url {
    margin-bottom: 5px;
}

div.section.experience {
    padding-bottom: 11px;
}

a.link {
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: rgba(0, 25, 50, 1);
    font-size: 19px;
}

a.link.github::before {
    content: "github.com/lyneca/";
    color: rgba(0, 50, 100, 0.5);
}

a.link.web::before {
    content: "https://";
    color: rgba(0, 50, 100, 0.5);
}

div.contact-list {
    font-family: 'Fira Code';
    font-size: 12px;
    display: grid;
    width: 55%;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

span.contact:not(:first-of-type)::before {
    /* content: " | " */
}

div.phone { }

div.email { }

div.linkedin { }

div.github { }

div.section {
    background-color: #f8fdff;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Roboto';
    width: 333px;
    padding: 10px;
    border: 1px solid rgba(0, 50, 100, 0.2);
    /* margin: 5px; */
}

i.header-icon {
    position: absolute;
    right: 10px;
    color: rgba(0, 50, 100, 0.5);
}

div.filler {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Courier', monospace;
    /* margin-top: 13px; */
    width: 333px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 3vh;
    vertical-align: middle;
}

div.section-header {
    font-family: 'Raleway';
    font-size: 24px;
    padding-left: 0;
    padding-bottom: 10px;
    /* margin-bottom: 5px; */
    color: rgba(0, 50, 100, 0.8);
    border-bottom: 1px solid rgba(0, 50, 100, 0.2);
}

div.date-entry,
div.project,
div.desc-entry {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.date-entry-text {
    border-bottom: 1px dashed rgba(0, 50, 100, 0.2);
}

div.date-entry:last-of-type,
div.project:last-of-type,
div.desc-entry:last-of-type {
    margin-bottom: 0;
}

div.desc-entry,
div.project {
    padding-top: 10px;
    padding-bottom: 4px;
    margin: 10px 0;
}

div.desc-entry:first-of-type,
div.project:first-of-type {
    margin-top: 0;
}

div.desc-entry:not(:first-of-type),
div.project:not(:first-of-type) {
    border-top: 1px solid rgba(0, 50, 100, 0.2);
}

span.date-entry-date,
span.desc-entry-date {
    color: rgba(0, 50, 100, 0.3);
    font-variant: small-caps;
    position: absolute;
    top: 0px;
    right: 0;
    font-size: smaller;
}

span.desc-entry-date {
    top: unset;
    bottom: -8px;
}

div.desc-entry-title {
    font-family: 'Raleway';
    font-size: 20px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.7);
}

div.skill-container {
    margin: 5px -5px -5px -5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

span.skill {
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(0, 50, 100, 0.2);
    background-color: #effbff;
    z-index: 1;
    flex-grow: 1;
}
