@import url("file:///home/lyneca/.cache/wal/colors.css");
:root {
	--block-bg:         var(--color7);
	--block-fg:         var(--page-fg);
	--block-title-bg:   var(--color4);
	--block-title-fg:   var(--color7);
	--block-title-icon: var(--light-text);
	--contact-fg:       var(--color2);
	--link-text:        var(--light-text);
	--page-bg:          #FFFFFF;
	--page-fg:          var(--background);
	--title:            var(--color1);
    --column-sep:       var(--color6);
    --date:             var(--light-text);
    --icon-light:       var(--color5);
    --lang:             var(--color8);
    --light-text:       var(--color2);
}

